**Bike Network Data Wrangling**

This script takes the .csv files produced in script 01-bike-network-metric-generation.ipynb and munges the data to create files that are easier to work with.

In [1]:
# libary imports
import geopandas as gpd
import pandas as pd
import os
import glob

# get working directory
working_directory =  os.getcwd()

In [2]:
globbed_files = glob.glob(working_directory + "\data\\places\\*.csv" )

counter = 1


for csv in globbed_files:
    print("Loop", counter)
    metrics = pd.read_csv(csv)
    metrics['place'] = os.path.basename(csv)
    metrics['place'] = metrics['place'].str.replace('.csv','')
    metrics.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore') # remove spare columns 
    place = metrics.at[0,'place'] # save place as variable
    metrics.loc[len(metrics.index)] = ['place', place, place, place] # add place as row
    metrics.drop('place', axis=1, inplace=True) # remove unneeded columns 
    metrics.drop([6,7], axis=0, inplace=True) # remove unneeded rows
    metrics.set_index('metric')

    if counter == 1:
        a = metrics
        a = a.T
        a.columns = a.iloc[0]
        a = a.iloc[1:] # remove spare row
        a = a.T
        a_headers = a.columns.tolist()
        a_place = a.loc['place','bike_values']
        a.columns = ['bike_values ' + a_place, 'road_values ' + a_place]
        counter = counter + 1

    else:
        b = metrics
        b = b.T  
        b.columns = b.iloc[0]
        b = b.iloc[1:]
        b = b.T
        b_headers = b.columns.tolist()
        b_place = b.loc['place','bike_values']
        b.columns = ['bike_values ' + b_place, 'road_values ' + b_place]

        c = a.join(b, how = 'outer').drop_duplicates()
        a = c
        counter = counter + 1

Loop 1
Loop 2
Loop 3
Loop 4
Loop 5
Loop 6
Loop 7
Loop 8
Loop 9
Loop 10
Loop 11
Loop 12
Loop 13
Loop 14
Loop 15

C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')

Loop 16
Loop 17
Loop 18
Loop 19
Loop 20
Loop 21
Loop 22
Loop 23
Loop 24

C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')
C:\Users\b8008458\AppData\Local\Temp\ipykernel_19976\1604738246.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  metrics['place'] = metrics['place'].str.replace('.csv','')

In [3]:
c = c.T

# split dataframe
bike_df = c.iloc[::2, :]
road_df = c.iloc[1::2, :]

# change column headings before rejoining
road_df.columns = [str(col) + '_road' for col in road_df.columns]
bike_df.columns = [str(col) + '_bike' for col in bike_df.columns]

# set temp index
bike_df.insert(0, 'temp_index', range(0, len(bike_df)))
road_df.insert(0, 'temp_index', range(0, len(road_df)))



# reset index
#bike_df = bike_df.reset_index
#road_df = road_df.reset_index

#bike_df['temp_index'] = bike_df.index
#road_df['temp_index'] = road_df.index

In [4]:
# merge and set place as index
combined_df = bike_df.merge(road_df, on = 'temp_index')
combined_df = combined_df.set_index('place_bike')

In [5]:
combined_df

,temp_index,0way_int_count_bike,0way_int_prop_bike,1way_int_count_bike,1way_int_prop_bike,2way_int_count_bike,2way_int_prop_bike,3way_int_count_bike,3way_int_prop_bike,4way_int_count_bike,...,m_road,n_road,node_density_km_road,place_road,self_loop_proportion_road,street_density_km_road,street_length_avg_road,street_length_total_road,street_segment_count_road,streets_per_node_avg_road
place_bike,,,,,,,,,,,,,,,,,,,,,
"Aberdeen, United Kingdom",0,0,0.0,25,0.020374898125509373,3,0.0024449877750611247,830,0.6764466177669112,353,...,21078,9134,299226043835.51697,"Aberdeen, United Kingdom",0.011992700095593986,36340143477848.24,96.40202155209867,1109298.0619999995,11507,2.520144514998905
"Albertville, France",1,0,0.0,0,0.0,1,0.015625,37,0.578125,24,...,1422,665,330975427941.71185,"Albertville, France",0.0022650056625141564,49603855767487.05,112.87054586636461,99664.69199999995,883,2.694736842105263
"Amsterdam, Netherlands",2,0,0.0,81,0.00567187171766683,48,0.0033611091660247882,6317,0.44233597087038723,7523,...,28813,12453,429940538426.7583,"Amsterdam, Netherlands",0.003709278572196538,62244862583725.7,96.9191205246745,1802889.479999995,18602,2.9860274632618644
"Berlin, Germany",3,0,0.0,87,0.0031432907001951007,27,0.0009755040104053761,14285,0.5161138810607703,12675,...,73113,27991,237353581753.15707,"Berlin, Germany",0.0037784862439485182,51909138860742.48,144.5653831385067,6121621.149000066,42345,3.0232217498481653
"City of Chester, United Kingdom",4,0,0.0,2,0.006349206349206349,0,0.0,238,0.7555555555555555,71,...,5465,2467,959244425377.0513,"City of Chester, United Kingdom",0.004499826929733472,82134206254887.05,73.11666735894781,211234.0520000002,2889,2.361167409809485
"Columbus, USA",5,0,0.0,82,0.0464326160815402,0,0.0,1010,0.5719139297848245,664,...,57916,22252,362485176211.9834,"Columbus, USA",0.008155239660896754,72843813694179.69,144.14105038197457,4471687.805999997,31023,2.82280244472407
"County Borough of Belfast, United Kingdom",6,0,0.0,15,0.013673655423883319,4,0.0036463081130355514,755,0.6882406563354604,314,...,19222,8281,888941146370.6926,"County Borough of Belfast, United Kingdom",0.0014582928251993,85897752631762.83,77.79381275520142,800187.1580000017,10286,2.4930563941552952
"Dubai, UAE",7,0,0.0,199,0.04839494163424125,11,0.0026750972762645915,2094,0.5092412451361867,1726,...,114491,56467,106897548435.01103,"Dubai, UAE",0.00311762723289518,21436065846702.188,136.30019414752854,11323274.929000081,83076,2.9236368144225833
"Durham, United Kingdom",8,0,0.0,46,0.012124406958355299,14,0.0036900369003690036,2612,0.6884554559831313,1072,...,59646,26650,85613221648.85545,"Durham, United Kingdom",0.0034021247231761725,12303869698376.334,122.92563552331703,3829994.0259999884,31157,2.341313320825516
"Edinburgh, United Kingdom",9,0,0.0,60,0.013380909901873328,2,0.00044603033006244426,3333,0.7433095450490633,1037,...,30932,13405,341568010029.6497,"Edinburgh, United Kingdom",0.007844329583460019,41379898687227.81,98.75183490422606,1623973.9249999975,16445,2.4531145095113764
"Glasgow City, United Kingdom",10,0,0.0,35,0.011467889908256881,1,0.000327653997378768,2062,0.6756225425950196,893,...,38133,16210,640706697826.3679,"Glasgow City, United Kingdom",0.008047437526471834,81841788694658.25,97.44518104381324,2070612.6519999874,21249,2.629056138186305
"Liverpool, United Kingdom",11,0,0.0,24,0.01867704280155642,1,0.0007782101167315176,826,0.6428015564202335,413,...,35383,15487,857635225565.6469,"Liverpool, United Kingdom",0.0034848562496797007,84390552061450.83,78.09702157536059,1523907.1820000112,19513,2.5247627042035257
"Lodz, Poland",12,0,0.0,157,0.014386511500045817,19,0.0017410427929991754,5552,0.5087510308806011,5004,...,17313,7118,186430445690.2266,"Lodz, Poland",0.0013899920571882446,42920658843929.19,162.70159432088894,1638730.4579999936,10072,2.8468670974992976
"London, United Kingdom",13,0,0.0,477,0.012296032789420772,1125,0.029000077333539556,25078,0.6464568349960045,11456,...,298018,127411,618284475174.805,"London, United Kingdom",0.00479743152896603,75716418992496.1,95.96720155362878,15603019.398999842,162587,2.5435951369975904
"Manchester, United Kingdom",14,0,0.0,43,0.017688194158782394,5,0.0020567667626491155,1616,0.6647470176881941,730,...,34918,14776,943990091038.4524,"Manchester, United Kingdom",0.00278372591006424,92093849060471.17,77.16905813704574,1441518.0060000145,18680,2.540741743367623
"Medellín, Colombia",15,0,0.0,19,0.0135424091233072,3,0.0021382751247327157,420,0.2993585174625802,934,...,41945,17429,569600691572.8989,"Medellín, Colombia",0.00047759293162461197,81661956270925.05,99.44853414789543,2498743.8690000204,25126,2.8876585002008146
"Milan, Italy",16,0,0.0,178,0.02608440797186401,124,0.01817116060961313,3189,0.46732121922626024,3219,...,25417,12874,615137318909.2429,"Milan, Italy",0.0019019970969517993,91397716499631.5,95.74211737324153,1912831.7629999926,19979,3.1068820879291597
"Newcastle Upon Tyne, United Kingdom",17,0,0.0,35,0.020710059171597635,7,0.004142011834319527,1082,0.6402366863905326,547,...,22426,9827,607613918039.3615,"Newcastle Upon Tyne, United Kingdom",0.0030135610246107484,63464850320048.9,85.92192382387435,1026423.3020000029,11946,2.4353312302839116
"Norwich, United Kingdom",18,0,0.0,14,0.00955631399317406,0,0.0,921,0.6286689419795222,486,...,10364,4741,880834105221.5652,"Norwich, United Kingdom",0.005371530886302597,72910484572619.33,70.26558084153973,392433.2689999994,5585,2.364480067496309
"Rome, Italy",19,0,0.0,218,0.049043869516310463,39,0.008773903262092238,2490,0.5601799775028121,1636,...,89673,43089,308985873757.14624,"Rome, Italy",0.00326398733968547,51929654524251.54,119.37860484322961,7241744.926999995,60662,2.8128756759265707
"Roosendaal, Netherlands",20,0,0.0,5,0.0029568302779420462,1,0.0005913660555884093,802,0.4742755765819042,851,...,6075,2587,429983088743.5533,"Roosendaal, Netherlands",0.008208736440926415,62974494790942.97,111.07799355027825,378887.0359999991,3411,2.6494008504058755
Singapore,21,0,0.0,148,0.014545454545454545,11,0.001081081081081081,6129,0.6023587223587223,3821,...,45613,23825,168732206916.6857,Singapore,0.003752135076862767,32072134434884.207,126.80502158877702,4528587.735999994,35713,2.9904721930745017
"Swansea, United Kingdom",22,0,0.0,28,0.022134387351778657,1,0.0007905138339920949,845,0.6679841897233202,371,...,19409,8764,160346421853.0117,"Swansea, United Kingdom",0.009090029977758438,21504601660928.33,113.6611275505268,1175369.7199999976,10341,2.3599954358740303
"Toronto, Canada",23,0,0.0,15,0.007009345794392523,6,0.002803738317757009,922,0.4308411214953271,1167,...,15259,5795,433026323597.8066,"Toronto, Canada",0.001718213058419244,86926531619296.81,133.25307823596833,1163299.3730000036,8730,3.0491803278688523

In [9]:
#pd.options.display.max_rows = None
#pd.options.display.max_columns = None
pd.reset_option("display.max_columns")